.heading {
  font-size: 25px;
}

.subheading {
  font-size: 22px;
}

.text {
  font-size: 19px;
  text-align: center;
}

li {
    list-style-type: none;
}

.liEntry {
  width: 800px;
  max-width: 90%;
  margin: 20px;
  border: 2px solid;
  border-radius: 40px;
}
