.blur {
  background: rgb(34,34,34); /* for IE */
  background: rgba(34,34,34,0.75);
  position: relative;
  padding-bottom: 40px;
}

h3 {
  font-family: "Jazz LET, fantasy";
  font-variant: small-caps;
}

label {
  font-family: "Jazz LET, fantasy";
  font-variant: small-caps;
  color: #A4A4A4;
  font-size: 20px;
  display: block;
}
